@page
@model Presentation.Pages.Artworks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artwork.Id" />
            <div class="form-group">
                <label asp-for="Artwork.AccountId" class="control-label"></label>
                <select asp-for="Artwork.AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="Artwork.AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Title" class="control-label"></label>
                <input asp-for="Artwork.Title" class="form-control" />
                <span asp-validation-for="Artwork.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Description" class="control-label"></label>
                <input asp-for="Artwork.Description" class="form-control" />
                <span asp-validation-for="Artwork.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Url" class="control-label"></label>
                <input asp-for="Artwork.Url" class="form-control" />
                <span asp-validation-for="Artwork.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Likes" class="control-label"></label>
                <input asp-for="Artwork.Likes" class="form-control" />
                <span asp-validation-for="Artwork.Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Fee" class="control-label"></label>
                <input asp-for="Artwork.Fee" class="form-control" />
                <span asp-validation-for="Artwork.Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Status" class="control-label"></label>
                <input asp-for="Artwork.Status" class="form-control" />
                <span asp-validation-for="Artwork.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
