@page
@model Presentation.Pages.CheckoutPage

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" rel="stylesheet">

    <link href="css/checkoutstyle.css" rel="stylesheet">
</head>
<body>
<section class="h-100 h-custom" style="background-color: #001133;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a href="HomePage" class="text-body">
                                        <i
                                            class="fas fa-long-arrow-alt-left me-2">
                                        </i>Checkout
                                    </a>
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Artwork cart</p>
                                    </div>
                                </div>
                                @foreach (var item in Model.CartsList)
                                {
                                    <div class="card mb-3" style="background-color: #cccccc;">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img
                                                            src="@item.ImageUrl"
                                                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>@item.Title</h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$@item.Price</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Card details</h5>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                 class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total</p>
                                            <p class="mb-2">$@Html.DisplayFor(modle => modle.CartsList.Sum(c => c.Price))</p>
                                        </div>
                                        <form method="post" asp-page-handler="Payment">
                                            <button type="submit" class="btn btn-info btn-block btn-lg">
                                                <div>
                                                    <a> Payment by PayPal</a>
                                                </div>
                                            </button>
                                        </form>
                                        <div id="paypal-payment-button"></div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=ARdRfDtyudkWq0Px-v06ssi5X-uXUpW0c25bu28Hdat3zGhJaYTjCE1F2GRbHSvVTO8OqEAWRHX8KcIB&disable-funding=credit,card"></script>
<script src="js/index.js"></script>
</body>
</html>