@page
@using System.Reflection
@model Presentation.Pages.HomePage

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "HomePage";
}
<style>
    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px 20px 0 20px;
    }

        .container1 .heading {
            width: 50%;
            padding-bottom: 50px;
        }

        .container1 .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .container1 .box .dream {
                display: flex;
                flex-direction: column;
                width: 32.5%;
            }

                .container1 .box .dream img {
                    width: 100%;
                    padding-bottom: 15px;
                    border-radius: 5px;
                }
</style>

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">

        </div>
    </div>
</header>

<meta name="viewport" content="width:device-width, initial-scale=1"/>
<link href="/homelayout/flexbin.css" type="text/css" rel="stylesheet" media="all"/>
<style>
    body {
        margin: 0;
    }

    .con1 {
        display: flex;
        position: relative;
    }

    .image1 {
        display: block;
    }

    .overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(141, 59, 59, 0.5);
    }

    .con1:hover .overlay1 {
        opacity: 1;
    }

    .text1 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
</style>

<body>
<div class="flexbin flexbin-margin">
    @foreach (var item in Model.Artwork)
    {
        <a class="con1" asp-page="./DetailPage" asp-route-id="@item.Id">
            <img src="@Html.DisplayFor(modelItem => item.Url)"/>
            <div class="overlay1">
                <div class="text1">@Html.DisplayFor(modelItem => item.Title)</div>
                <div class="text1">@Html.DisplayFor(modelItem => item.Likes)</div>
            </div>
        </a>
    }
</div>
</body>


